#root {
  width: 100%;
  height: 100vh;
  background-color: #d9dbdd;
}
nav {
  background-color: #212529;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0px;
}
.shopping-cart-btn {
  background-color: transparent;
  border: none;
  position: relative;
}
.product-number {
  width: 30px;
  height: 30px;
  position: absolute;
  top: -10px;
  right: -12px;
  background-color: rgba(128, 128, 128, 0.771);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
  color: #fff;
  cursor: pointer;
}
.icon-shopping-cart {
  width: 40px;
  height: 40px;
  color: #fff;
  cursor: pointer;
}
.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px 0px;
}
.search-input {
  width: 35%;
  height: 30px;
  border-radius: 7px;
  padding-left: 10px;
  border: none;
}
.search-input:focus {
  outline: auto;
  outline-style: solid;
  outline-width: 1px;
  outline-color: #000000;
}
.search-label {
  font-size: 20px;
  font-weight: 600;
}
