#root {
  background-color: #d9dbdd;
  padding-bottom: 40px;
}
nav {
  background-color: #212529;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0px;
}
.shopping-cart-btn {
  background-color: transparent;
  border: none;
  position: relative;
}
.product-number {
  width: 30px;
  height: 30px;
  position: absolute;
  top: -10px;
  right: -12px;
  background-color: rgba(128, 128, 128, 0.771);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
  color: #fff;
  cursor: pointer;
}
.icon-shopping-cart {
  width: 40px;
  height: 40px;
  color: #fff;
  cursor: pointer;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px 0px;
  margin-bottom: 20px;
}
.search-input {
  width: 500px;
  height: 30px;
  border-radius: 7px;
  padding-left: 10px;
  border: none;
}
.search-input:focus {
  outline: auto;
  outline-style: solid;
  outline-width: 1px;
  outline-color: #000000;
}
.search-label {
  font-size: 20px;
  font-weight: 600;
}
.list {
  background-color: rgb(255, 255, 255);
  width: 70%;
  list-style: none;
  padding: 20px 30px;
  border-radius: 9px;
  box-shadow: 1px 2px 3px 4px hsla(0, 0%, 8%, 0.02);
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.list-element {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
}
li:last-child {
  border-bottom: none;
} /*!!!*/
.p-name {
  color: #333;
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 3px;
}
.p-description {
  color: #444;
  font-size: 16px;
  margin-bottom: 5px;
}
.p-price {
  color: #444;
  font-size: 15px;
}
.amount-box {
  display: flex;
  align-items: center;
  gap: 10px;
}
.number-input {
  width: 30px;
  padding: 5px;
}
.number-input:focus {
  outline: auto;
  outline-style: auto;
  outline-color: #000000;
}
.btn-add {
  background-color: #212529;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.75px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
}
.btn-add:hover {
  background-color: #000000;
  transition: 0.3s;
}
.go-to-cart-btn {
  background-color: #212529;
  color: #fff;
  display: block;
  font-size: 15px;
  font-weight: 700;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.go-to-cart-btn:hover {
  background-color: #000000;
  transition: 0.3s;
}
.section-total-price {
  width: 60%;
  display: flex;
  justify-content: end;
}
.total-price-box {
  width: 120px;
  background-color: #f1f3f5;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 1px 2px 3px 4px hsla(0, 0%, 8%, 0.02);
  padding: 10px 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.total-price-title {
  color: #333;
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 5px;
}
.total-price-p {
  color: #444;
  font-size: 20px;
  text-align: center;
}
.cart-btn-box {
  display: flex;
  align-items: center;
  gap: 15px;
}
.cart-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  cursor: pointer;
}
.cart-empty-p {
  margin-top: 100px;
  margin-bottom: 40px;
  font-size: 40px;
  color: #333;
  font-weight: 700;
}
